# ----------------- IPD SERVICE ----------------- #
APP_KEY=
IDP_SERVICE_DB_USERNAME=idp
IDP_SERVICE_DB_PASSWORD=123456789
PASSPORT_PRIVATE_KEY=
PASSPORT_PUBLIC_KEY=
WWWGROUP=0
WWWUSER=0

# ----------------- AI SERVICE ----------------- #
AI_SERVICE_DB_USERNAME=ai
AI_SERVICE_DB_PASSWORD=123456789

# ----------------- KNOWLEDGE SERVICE ----------------- #
KNOWLEDGE_SERVICE_DB_USERNAME=knowledge
KNOWLEDGE_SERVICE_DB_PASSWORD=123456789

# ----------------- SHARED (GLOBAL) ----------------- #
OPENAI_API_KEY=