HOST=localhost:8000

# تنظیمات Ollama
OLLAMA_HOST=http://localhost:11434
OLLAMA_MODEL=gemma
#OLLAMA_MODEL=mistral

# تنظیمات عمومی
TEMPERATURE=0.9
MAX_TOKENS=4096

# تنظیمات ChromaDB
CHROMA_PERSIST_DIRECTORY=./data/chroma
CHROMA_COLLECTION_NAME=satya_docs

# تنظیمات برنامه
APP_URL=http://localhost:8001
FRONTEND_URL=http://localhost:3000

# تنظیمات پایگاه داده
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=satia_chatbot

# تنظیمات MySQL
MYSQL_HOST=mysql
MYSQL_USER=ai_chatbot
MYSQL_PASSWORD=123456789
MYSQL_DATABASE=ai_db
MYSQL_PORT=3306

# تنظیمات Mistral
MISTRAL_API_KEY=438309bd-637c-4162-ba77-34e26d6c59cf

# تنظیمات OpenAI
OPENAI_API_KEY=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

# تنظیمات مدل
EMBEDDING_MODEL=paraphrase-multilingual-MiniLM-L12-v2

# تنظیمات خزنده
SATIA_WEBSITE_URL=http://185.143.223.81

# تنظیمات GPT
GPT_MODEL=gpt-4.1-mini
GPT_TITLE_ANALYZER_MODEL=gpt-4.1-mini
GPT_EMBEDDING_MODEL=text-embedding-3-large
GPT_RESPONSE_STREAM_SLEEP_SECOND=0.0001

# تنظیمات REDIS
REDIS_HOST=redis


SATIA_ACCESS_TOKEN="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOlwvXC8xOTIuMTY4LjE2Ny4yNDE6ODAwM1wvXC91c2VyXC9sb2dpbiIsImlhdCI6MTc0ODUwODg1NCwiZXhwIjoxNzUxMTAwODU0LCJuYmYiOjE3NDg1MDg4NTQsImp0aSI6IjNqUXAzUUVBUGRVckxVT00iLCJzdWIiOjE3NTg0LCJwcnYiOiI4YjQyMmU2ZjY1NzkzMmI4YWViY2IxYmYxZTM1NmRkNzZhMzY1YmYyIn0.wNOjybgisZK-ZcMlzSe-uKhjjuYKOVduxaU54ZnAPNc"
SATIA_CUSTOMER='{"Serial":17584,"Mobile":"09188622885","AdslTel":"08632243769","Name":"رایانکده آپادانا","CustomerType":"W","SmsCode":"","UserId":"1759603","Type":"WIRELESS","status":[{"Serial":6,"Name":"بهره برداری","BranchRef":"1","pivot":{"CustomerRef":"17584","StatusRef":"6","Active":"1","Date":"2024-08-06 08:50:11","Comment":" اعمال شارژ رزرو "}}]}'