IDP_SERVICE_DB_USERNAME=idp
IDP_SERVICE_DB_PASSWORD=123456789

AI_SERVICE_DB_USERNAME=ai
AI_SERVICE_DB_PASSWORD=123456789

KNOWLEDGE_SERVICE_DB_USERNAME=knowledge
KNOWLEDGE_SERVICE_DB_PASSWORD=123456789

WWWGROUP=0
WWWUSER=0