node_modules
.qodo
venv/
logs/
temp/
*.log
/vector_backup
.env
*__pycache__*
test.db
mysql_data/
*.db
/chroma_data/*
/chroma_data/*
.idea/

# Handle data folder
data/*
!data/
!data/settings_schema.json