# کتابخانه‌های اصلی
scrapy==2.11.0
beautifulsoup4==4.12.2
langchain==0.1.0
langchain-community==0.0.10
chromadb==0.4.22
sentence-transformers==2.5.1
huggingface-hub==0.20.3
mistralai==0.0.12
python-dotenv==1.0.1
fastapi==0.109.2
uvicorn==0.27.1
pydantic==2.6.1
pymongo==4.6.1
PyPDF2==3.0.1
Pillow==10.4.0
python-multipart==0.0.6
aiohttp==3.9.3
torch==2.6.0
torchvision==0.21.0
transformers==4.37.2

# رفع تداخل نسخه‌ها
protobuf==3.20.3
#tensorflow-intel==2.14.0
mysql-connector-python==8.0.32

# جدید
questionary>=2.0.1
rich>=13.7.0 