# Database
DB_HOST=knowledge-mysql
DB_USER=knowledge_serv
DB_PASS=123456789
DB_NAME=knowledge_db
DB_PORT=3308

# CHROMA
CHROMA_COLLECTION_NAME=default
CHROMA_PERSIST_DIRECTORY="data/chroma"

# OPEN AI
OPENAI_EMBEDDING_MODEL="text-embedding-3-small"
OPENAI_API_KEY=

# OAuth/OpenId
OAUTH_PUBLIC_KEY=
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=