SERVICE_NAME=sina-ai-service

HOST=localhost:8000

# تنظیمات ChromaDB
CHROMA_PERSIST_DIRECTORY=./data/chroma
CHROMA_COLLECTION_NAME=satya_docs

# تنظیمات MySQL
MYSQL_HOST=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
MYSQL_PORT=

# تنظیمات OpenAI
OPENAI_API_KEY=

# تنظیمات GPT
GPT_MODEL=gpt-4.1-mini
GPT_TITLE_ANALYZER_MODEL=gpt-4.1-mini
GPT_EMBEDDING_MODEL=text-embedding-3-large
GPT_RESPONSE_STREAM_SLEEP_SECOND=0.0001

# تنظیمات REDIS
REDIS_HOST="127.0.0.1"

# OAuth/OpenId
OAUTH_PUBLIC_KEY=