anyio==4.9.0
beautifulsoup4==4.13.4
bcrypt==4.1.2
chromadb==1.0.12
fastapi==0.115.9
httpx==0.28.1
matplotlib==3.10.3
mysql_connector_repackaged==0.3.1
numpy==2.3.0
openai-agents==0.0.17
passlib==1.7.4
PyJWT==2.8.0
pydantic==2.11.7
pydantic[email]==2.11.7
pydub==0.25.1
PyMySQL==1.1.1
pytest==8.4.0
python-dotenv==1.1.0
questionary==2.1.0
redis==6.2.0
Requests==2.32.4
rich==14.0.0
rq==2.4.0
scrapy==2.13.2
SQLAlchemy==2.0.41
tomli==2.2.1
alembic==1.16.1
SpeechRecognition==3.14.3
dynaconf==3.2.11
python-magic==0.4.27
pytest-asyncio==1.2.0
python-jose==3.5.0